.p1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3C798C;
  transition: margin-left .5s;


}

.logo {
  right: 5rem;
  height: 5rem;
  transition: margin-left .5s;

}

.icon {
  right: 5rem;
  height: 4rem;
  margin-top: 10px;

}

body {
  background-color: #B9DDE8;
  font-family: "Lato", sans-serif;
  transition: background-color .5s;
}

/* sidenav que aparece ao clicar no botão hamburger */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #3C798C;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 2rem;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #ffff;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #000000;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

#cadastro {
  transition: margin-left .5s;
}

#cadastro h1 {
  display: flex;
  justify-content: center;
}



/* formulario para o cadastro do paciente */

.form-container {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;

  border-radius: 5px;
}

.form-container label {
  display: block;
  margin-bottom: 10px;
}

.form-container input[type="text"],
.form-container input[type="email"],
.form-container input[type="date"],
.form-container textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

#buttonRegistrar {
  background-color: #4681A2;
  width: 10rem;
  height: 3rem;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  margin: 1rem 0 1rem 1rem;
  cursor: pointer;
  float: right;
}

#buttonCancelar {
  background-color: #FE5B5B;
  width: 10rem;
  height: 3rem;
  color: white;
  padding: 1rem 1rem;
  border: none;
  border-radius: 8px;
  margin: 1rem 0 1rem 1rem;
  cursor: pointer;
  float: right;
}

.form-container button:hover {
  background-color: #45a049;
}


/* dropdown que aparece ao passar o mouse por cima */

.dropbtn {
  background-color: #3C798C;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3C798C;
}



@media screen and (max-height: 650px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }

  #buttonCancelar{
    width: 5rem;
    height: 1rem;
  }
}