h1 {
    text-align: center;
}

a {
    color: #83D4EE;
   
}

hr {
    background-color: #000000;
    margin: 50px 100px 50px 100px;
}

/* LINKS DO HEADER */

#Links {
    background-color: #3C798C;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1.563rem;
    align-items: center;
}

.underline {
    position: relative;
    display: inline-block;
    text-decoration: none;
}

.underline::before {
    content: "";
    position: absolute;
    top: 18px;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #83D4EE;
    transition: width 0.3s ease-in-out;
}

.underline:hover::before {
    width: 100%;
}

.linklogo {

width: 5%;


}

#logo {
    width: 100%;
}


#login {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#fraseAcesso {
    display: flex;
    margin-right: 0.313rem;
    color: #FFFFFF;

}

#login a button {
    cursor: pointer;
}

#button {
    padding: 0.625rem 1.063rem 0.625rem 1.063rem;
    background: #739DDC;
    border-radius: 10px;
    border: none;
    color: #FFFFFF;
}


/* BANNER */


#Banner {
    background-color: #3C798C;
    height: 53.125rem;
}

#fotoEscritorio {
    position: relative;
    width: 100%;
    height: 100%;
}

.textoSobreposto1 {
    text-align: start;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-size: 64px;
    position: absolute;
    top: 400px;
    left: 50px;
    
}

.textoSobreposto2 {
    width: 50%;
    text-align: start;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-size: 30px;
    position: absolute;
    top: 600px;
    left: 50px;
    color: #000000;

}

/* Tratamentos Corporais */


/* Depilação A Laser */

.depilaçãoALaser {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    align-content: center;
    margin: 50px 100px 50px 100px;
}

.textoDepilaçãoALaser {
    margin-left: 300px;
}

/* terapiaHíbrida */

.terapiaHíbrida {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    align-content: center;
    margin: 50px 100px 50px 100px;
}

.textoTerapiaHíbrida {
    margin-right: 300px;
}


/* lipoLAD */

.lipoLAD {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    align-content: center;
    margin: 50px 100px 50px 100px;
}

.textolipoLAD {
    margin-left: 300px;
}

/* Criolopólise */

.criolipólise {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    align-content: center;
    margin: 50px 100px 50px 100px;
}

.textoCriolipólise {
    margin-right: 300px;
}


/* radio frequêcia */

.radiofrequêcia {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    align-content: center;
    margin: 50px 100px 50px 100px;
}

.textoRadiofrequêcia {
    margin-left: 300px;
}




/* FOOTER */


footer {
    background-color: #586875;
}


.button {
    position: absolute;
    ;
    margin: 40px 25px 70px 1700px;
    width: 10%;
    border: 2px solid #FFFFFF;
    border-radius: 50px;
}


.endereços {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 200px;
    padding-top: 50px;


}

.endereços ul li a {
    display: flex;
    justify-content: center;
    color: #FFFFFF;
}



.endereços ul li p {
    display: flex;
    justify-content: center;
}

.endereços ul li img {
    width: 3%;
    padding-right: 10px;
}





.redesSociais {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.redesSociais p {
    color: #FFFFFF;
}

.redesSociais img {
    width: 20%;
}

.redessociaisFacebookEInstagram {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    margin: 50px 0 50px 0;
    width: 50%;
}


.redesSociais .copyright {
    color: #000000;
    margin-bottom: 25px;
}

/* Estilos para dispositivos móveis */
@media only screen and (max-width: 750px) {
    #Links {
        padding: 0.8rem;
    
    }

    .underline{
        font-size: 0.5rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
    
    #linkLogo {
        width: 5%;
    }

    #logo{
        margin-top: 3px;
        width: 115%;
    
    }

    
    #fraseAcesso {
        display: flex;
        margin-right: 0.313rem;
        color: #FFFFFF;
        font-size: 0.5rem;

    
    }
    
    
    #button {
        padding: 0.625rem 1.063rem 0.625rem 1.063rem;
        background: #739DDC;
        border-radius: 10px;
        border: none;
        color: #FFFFFF;
    }


    /* BANNER */


#Banner {
   
    height: 30.125rem;
}


}