h1 {
    text-align: center;
}

a {
    color: #83D4EE;

}

hr {
    background-color: #000000;
    margin: 50px 100px 50px 100px;
}

/* LINKS DO HEADER */

#Links {
    background-color: #3C798C;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1.563rem;
    align-items: center;
}

/* .underline {
    position: relative;
    display: inline-block;
    text-decoration: none;
}

.underline::before {
    content: "";
    position: absolute;
    top: 18px;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #83D4EE;
    transition: width 0.3s ease-in-out;
}

.underline:hover::before {
    width: 100%;
} */



.linklogo {
    width: 5%;
}

#logo {
    width: 100%;
}

.espaco {
    width: 5%;
}


/* sidenav que aparece ao clicar no botão hamburger */
.side {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #3C798C;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 2rem;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: #ffff;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #000000;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}


#cadastro {
    transition: margin-left .5s;
}

#cadastro h1 {
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
}



/* BODY */


.lugarDoQuadrado {
    margin-top: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quadrado {
    width: 34rem;
    height: 34rem;
    border: 2px solid #354150;
    flex-direction: row;
    text-align: center;
    border-radius: 10px 118px 10px 10px;
}

.espaçoDentroDoQuadrado {
    height: 150px;
}

/* FLOAT INPUT */

.label-float {
    position: relative;
    padding-top: 13px;
}

.label-float input {
    border: 1px solid #000000;
    border-radius: 5px;
    outline: none;
    min-width: 250px;
    padding: 15px 20px;
    font-size: 16px;
    transition: all .1s linear;
    -webkit-transition: all .1s linear;
    -moz-transition: all .1s linear;
    -webkit-appearance: none;
}

.label-float input:focus {
    border: 2px solid #3951b2;
}

.label-float input::placeholder {
    color: transparent;
}

.label-float label {
    pointer-events: none;
    position: absolute;
    top: calc(50% - 8px);
    left: 150px;
    transition: all .1s linear;
    -webkit-transition: all .1s linear;
    -moz-transition: all .1s linear;
    background-color: white;
    padding: 5px;
    box-sizing: border-box;
}

.label-float input:required:invalid+label {
    color: red;
}

.label-float input:focus:required:invalid {
    border: 2px solid red;
}

.label-float input:required:invalid+label:before {
    content: '*';
}

.label-float input:focus+label,
.label-float input:not(:placeholder-shown)+label {
    font-size: 13px;
    top: 0;
    color: #3951b2;
}


/* OLHO */

.lnr-eye {
    position: absolute;
    top: 30px;
    right: 150px;
    cursor: pointer;
}


.inputsSuperioresDoQuadrado {
    display: flex;
    justify-content: space-evenly;
    margin: 15px 0 50px 0;
}

.inputsSuperioresDoQuadrado a {
    color: #000000;
    text-decoration: none;
}

.loginECadastreSE {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#buttonLogin {
    border: 0 solid #000000;
    border-radius: 10px;
    width: 144px;
    height: 43px;
    font-size: 20px;
    background-color: #6ABBE9;
    color: #FFFFFF;
    cursor: pointer;

}

#buttonLogin:hover {
    background-color: #2f9ddd;
    transition: 0.5s;
}


#cadastro {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 5px;
}

#fraseAcesso {
    display: flex;
    margin: 0 5px 0 5px;
    color: #000000;

}


#buttonCadastro {
    background: #6ABBE9;
    border: none;
    color: #FFFFFF;
    height: 20px;
    cursor: pointer;
}

#buttonCadastro:hover {
    background-color: #2f9ddd;
    transition: 0.5s;
}


.espaçoDentroDoQuadrado2 {
    height: 15px;
}



/* DIV API */

.api {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* LOGIN COM O GOOGLE */

.google-login-button {
    display: inline-block;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.084), 0px 2px 3px rgba(0, 0, 0, 0.168);
    border-radius: 10px;
    background-color: #fff;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 10px;
}

.google-login-button a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.54);
}

.google-login-button img {
    width: 22px;
    margin-right: 10px;
}

.google-login-button:hover {
    border-color: #666;
    background-color: #f2f2f2;
    transition: 0.5s;
}

.google-login-button:hover a {
    color: #666;
    transition: 0.5s;
}

/* LOGIN COM O FACEBOOK */

.facebook-login-button {
    display: inline-block;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.084), 0px 2px 3px rgba(0, 0, 0, 0.168);
    border-radius: 10px;
    background-color: #2851A3;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}

.facebook-login-button a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.54);
}

.facebook-login-button img {
    width: 22px;
    margin-right: 10px;
}

.facebook-login-button:hover {
    background-color: #3b5998;
    transition: 0.5s;
}

.facebook-login-button:hover a {
    /* color: #858282; */
    transition: 0.5s;
}






/* IMAGEM E ELIPSES */

.imagem {
    position: relative;
    left: 200px;
    bottom: 50px;
    width: 350px;
}

.elipsePequena {
    position: absolute;
    bottom: 250px;
    left: 20px;
}

.elipseLogin {
    position: relative;
    left: 50px;
}

.boneco {
    position: absolute;
    right: 90px;
    top: 20px;
}


.copyright {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: #000000;
    padding: 45px 0 25px 0;

}

/* Estilos para dispositivos móveis */
@media screen and (max-width: 1300px) {
    /* IMAGEM E ELIPSES */

    .imagem {
        display: none;
    }
}


/* Estilos para dispositivos móveis */
@media screen and (max-width: 900px) {
    .linklogo {
        width: 10%;
    }
}



/* Estilos para dispositivos móveis */
@media screen and (max-width: 750px) {
    h1 {
        font-size: 44px;
    }

    hr {
        margin: 50px 50px 50px 50px;
    }

    #Links {
        padding: 0.8rem;

    }


    .underline {
        font-size: 0.5rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    #logo {
        margin-top: 3px;
        width: 115%;

    }





    .lugarDoQuadrado {

        margin-top: 7rem;
    }


    .espaçoDentroDoQuadrado {
        height: 20px;
    }


    .quadrado {

        width: 350px;
        height: 350px;
        margin-left: 0px;

    }




    /* FLOAT INPUT */

    .label-float {
        position: relative;
        padding-top: 13px;
        font-size: 13px;

    }

    .label-float input {
        min-width: 120px;
        font-size: 12px;
        transition: all .1s linear;
        -webkit-transition: all .1s linear;
        -moz-transition: all .1s linear;
        -webkit-appearance: none;
    }

    .label-float input:focus {
        border: 2px solid #3951b2;
    }

    .label-float input::placeholder {
        color: transparent;
    }

    .label-float label {
        pointer-events: none;
        position: absolute;
        top: calc(50% - 8px);
        left: 90px;
        transition: all .1s linear;
        -webkit-transition: all .1s linear;
        -moz-transition: all .1s linear;
        padding: 5px;
        box-sizing: border-box;
    }

    .label-float input:required:invalid+label {
        color: red;
    }

    .label-float input:focus:required:invalid {
        border: 2px solid red;
    }

    .label-float input:required:invalid+label:before {
        content: '*';
    }

    .label-float input:focus+label,
    .label-float input:not(:placeholder-shown)+label {
        font-size: 13px;
        top: 0;
        color: #3951b2;
    }



    /* OLHO */

    .lnr-eye {
        right: 100px;
    }


    .inputsSuperioresDoQuadrado {
        margin: 15px 0 15px 0;
        font-size: 0.8rem;

    }

    .loginECadastreSE {
        align-items: center;
        margin-top: 15px;
    }

    #buttonLogin {
        border: 0 solid #000000;
        border-radius: 10px;
        width: 80px;
        height: 25px;
        font-size: 10px;
        background-color: #6ABBE9;
        color: #FFFFFF;
        cursor: pointer;

    }

    #buttonLogin:hover {
        background-color: #2f9ddd;
        transition: 0.5s;
    }


    /* LOGIN COM O GOOGLE */

    .google-login-button {
        padding: 10px 20px;
        font-size: 10px;
        margin-bottom: 10px;
    }

    .google-login-button img {
        width: 15px;
    }

    /* LOGIN COM O FACEBOOK */

    .facebook-login-button {
        padding: 10px 20px;
        font-size: 10px;
    }

    .facebook-login-button img {
        width: 15px;
    }


}

/* Estilos para dispositivos móveis */
@media screen and (max-width: 500px) {

    .lugarDoQuadrado {
        margin-top: 5rem;
    }


    .quadrado {

        width: 300px;
        height: 350px;

    }

    /* FLOAT INPUT */

    .label-float {
        position: relative;
        padding-top: 10px;
        font-size: 13px;

    }

    .label-float input {
        min-width: 120px;
        font-size: 10px;
    }



    .label-float label {
        left: 80px;
    }

    #fraseAcesso {
        font-size: 0.8rem;
    }

    /* Olho */
    .lnr-eye {
        top: 26px;
        right: 90px;
    }




}


/* Estilos para dispositivos móveis */
@media screen and (max-width: 350px) {

    .espaçoDentroDoQuadrado {
        height: 25px;
    }

    .lugarDoQuadrado {
        margin-top: 5rem;
    }


    .quadrado {

        width: 240px;
        height: 350px;

    }

    /* FLOAT INPUT */

    .label-float {
        position: relative;
        padding-top: 10px;
        font-size: 13px;

    }

    .label-float input {
        min-width: 120px;
        font-size: 10px;
    }

    .loginECadastreSE {
        margin-left: 35px;
        margin-top: 25px;
    }


    .label-float label {
        left: 50px;
    }


    /* Olho */
    .lnr-eye {
        right: 60px;
    }

    .loginECadastreSE {
        margin-left: 0px;
    }

}