    .p1{
    background-color: #3C798C;
   
}
body{
    background-color:whitesmoke ;
    
}
.PropósitoDaPagina{
    text-align: center;
    font-size: 70px;

}
    .p2{
    padding-top: 40px;
}
.informaçõesDeRecuperação{
    font-size: 45px;
    text-align: center;
}
    .p3{
        padding-top: 150px;
    }
        .cadastroCPF{
        text-align: center;
        flex-direction: row;
    }
    .SeuCPF{
        size: 40px;
        width: 320px;
        height: 40px;
        font-size: 25px;
    }
    .CPF{
        font-size: 40px;
        margin-left: 40px;
    }
    .p4{
        padding-top: 10px;
    }
         .cadastroEMAIL{
        text-align: center;
        flex-direction: row;
    }
    .SeuEMAIL{
        size: 40px;
        width: 320px;
        height: 40px;
        font-size: 25px;
    }
    .EMAIL{
        font-size: 40px;
    }
    .p5{
        padding-top: 25px;
    }
    .nãoPossuoCPF{
        position: absolute;
        top: 58.5%;
        left: 66%;

    }
 .btNãoPossuoCPF{
    size: 25px;
 }
 .btRecuperar{
    font-size: 200px;
    text-align: right;
 }
 .botãoDeRecuperar{
    font-size: 35px;
    margin-right: 150px;
    background-color: #52a4bd;
    
    
 }
 .logo{
    right: 100px;
    height: 100px;
    align-content: flex-start;
 }
 .toggle-button{
    position: absolute;
    top: 50%;
    left: 115%;
    transform: translate(-50%, -50%);
 }

 .toggle-input {
    display: none;

  }
  
  .toggle-label {
    display: block;
    width: 20px;
    height: 10px;
    border-radius: 20px;
    background-color: #ddd;
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .toggle-label:after {
    content: '';
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    top: 1px;
    left: 1px;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.3);
    transition: left 0.3s ease-in-out;
  }
  
  .toggle-input:checked + .toggle-label {
    background-color: #828788;
  }
  
  .toggle-input:checked + .toggle-label:after {
    left: 11px;
  }
  