    .p1{
    background-color: #3C798C;
   
}
body{
    background-color:whitesmoke ;
    
}
.PropósitoDaPagina{
    text-align: center;
    font-size: 70px;

}
    .p2{
    padding-top: 40px;
}
.informaçõesDeRecuperação{
    font-size: 45px;
    text-align: center;
}
    .p3{
        padding-top: 150px;
    }
        .cadastroCPF{
        text-align: center;
        flex-direction: row;
    }
    .SeuCPF{
        size: 40px;
        width: 320px;
        height: 40px;
        font-size: 25px;
    }
    .CPF{
        font-size: 40px;
        margin-left: 40px;
    }
    .p4{
        padding-top: 10px;
    }
         .cadastroEMAIL{
        text-align: center;
        flex-direction: row;
    }
    .SeuEMAIL{
        size: 40px;
        width: 320px;
        height: 40px;
        font-size: 25px;
    }
    .EMAIL{
        font-size: 40px;
    }
    .p5{
        padding-top: 25px;
    }
    .nãoPossuoCPF{
        font-size: 25px;
        text-align: center;

    }
 .btNãoPossuoCPF{
    size: 25px;
 }
 .btRecuperar{
    font-size: 200px;
    text-align: right;
 }
 .botãoDeRecuperar{
    font-size: 35px;
    margin-right: 150px;
    background-color: #52a4bd;
    
    
 }
 .logo{
    right: 100px;
    height: 100px;
    align-content: flex-start;
 }