#Links {
    background-color: #3C798C;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 25px;
    align-items: center;
}

#logo {
    width: 5%;
}

a {
    color: #83D4EE;
}

#login {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#fraseAcesso {
    display: flex;
    margin-right: 5px;
    color: #FFFFFF;

}

#button {
    padding: 10px 25px 10px 25px;
    background: #739DDC;
    border-radius: 10px;
    border: none;
    color: #FFFFFF;
}

#Banner {
    height: 850px;
}

#fotoEscritorio {
    position: relative;
    width: 100%;
    height: 100%;
}

.textoSobreposto1 {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-size: 64px;
    position: absolute;
    top: 400px;
    left: 50px;
    z-index: 1;

}

.textoSobreposto2 {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-size: 20px;
    position: absolute;
    top: 700px;
    left: 50px;
    z-index: 1;
    color: #323232;

}

.icones {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.tituloConheçaADermaSoft {
    font-family: 'Source Sans Pro';
    font-style: normal;
    text-align: center;
    font-size: 96px;
}

.ConhecaADermaSOft {
    height: 1198px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.imagensDaClinica {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.textoDermasoft {

    font-size: 32px;
    display: flex;
    align-items: center;
    width: 40%;
}