h1 {
    text-align: center;
}

a {
    color: #83D4EE;
   
}

hr {
    background-color: #000000;
    margin: 50px 100px 50px 100px;
}

/* LINKS DO HEADER */

#Links {
    background-color: #3C798C;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1.563rem;
    align-items: center;
}

.underline {
    position: relative;
    display: inline-block;
    text-decoration: none;
}

.underline::before {
    content: "";
    position: absolute;
    top: 18px;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #83D4EE;
    transition: width 0.3s ease-in-out;
}

.underline:hover::before {
    width: 100%;
}

.linklogo {

width: 5%;


}

#logo {
    width: 100%;
}


#login {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#fraseAcesso {
    display: flex;
    margin-right: 0.313rem;
    color: #FFFFFF;

}

#login a button {
    cursor: pointer;
}

#button {
    padding: 0.625rem 1.063rem 0.625rem 1.063rem;
    background: #739DDC;
    border-radius: 10px;
    border: none;
    color: #FFFFFF;
}


/* BANNER */


#Banner {
    background-color: #3C798C;
    height: 53.125rem;
}

#fotoEscritorio {
    position: relative;
    width: 100%;
    height: 100%;
}

.textoSobreposto1 {
    text-align: start;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-size: 64px;
    position: absolute;
    top: 400px;
    left: 50px;
    
}

.textoSobreposto2 {
    width: 50%;
    text-align: start;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-size: 30px;
    position: absolute;
    top: 600px;
    left: 50px;
    color: #000000;

}


/* Tratamentos Capilar */


/* laser De Thulium */

.laserDeThulium {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    align-content: center;
    margin: 50px 100px 50px 100px;
}

.textolaserDeThulium {
    margin-left: 300px;
}

/* MMP */

.MMP {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    align-content: center;
    margin: 50px 100px 50px 100px;
}

.textoMMP {
    margin-right: 300px;
}


/* microagulhamento Capilar */

.microagulhamentoCapilar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    align-content: center;
    margin: 50px 100px 50px 100px;
}

.textoMicroagulhamentoCapilar {
    margin-left: 300px;
    width: 600px;
}


/* misoterapia Capilar */

.misoterapiaCapilar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    align-content: center;
    margin: 50px 100px 50px 100px;
}

.textoMisoterapiaCapilar {
    margin-right: 300px;
}


/* tricoscopia Capilar E Tricograma */

.tricoscopiaCapilarETricograma {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    align-content: center;
    margin: 50px 100px 50px 100px;
}

.textoTricoscopiaCapilarETricograma {
    margin-left: 300px;
    width: 600px;
}

/* terapia Capilar */

.terapiaCapilar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    align-content: center;
    margin: 50px 100px 50px 100px;
}

.textoTerapiaCapilar {
    margin-right: 300px;
    width: 400px;
}





/* FOOTER */


footer {
    background-color: #586875;
}




.endereços {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 200px;
    padding-top: 50px;
    
    
}

.endereços ul li a {
    display: flex;
    justify-content: center;
    color: #FFFFFF;
}



.endereços ul li p {
    display: flex;
    justify-content: center;
}

.endereços ul li img {
    width: 3%;
    padding-right: 10px;
}





.redesSociais {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.redesSociais p {
    color: #FFFFFF;
}

.redesSociais img {
    width: 20%;
}

.redessociaisFacebookEInstagram {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    margin: 50px 0 50px 0;
    width: 50%;
}

.button {
    margin: 0 10px 25px 20px;
    position: initial;
    width: 15%;
    border: 2px solid #FFFFFF;
    border-radius: 60px;
}

.copyright {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: #FFFFFF;
    padding-bottom: 25px;
}







/* Estilos para dispositivos móveis */
@media only screen and (max-width: 750px) {
    #Links {
        padding: 0.8rem;
    
    }

    .underline{
        font-size: 0.5rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
    
    #linkLogo {
        width: 5%;
    }

    #logo{
        margin-top: 3px;
        width: 115%;
    
    }

    
    #fraseAcesso {
        display: flex;
        margin-right: 0.313rem;
        color: #FFFFFF;
        font-size: 0.5rem;

    
    }
    
    
    #button {
        padding: 0.625rem 1.063rem 0.625rem 1.063rem;
        background: #739DDC;
        border-radius: 10px;
        border: none;
        color: #FFFFFF;
    }


    /* BANNER */


#Banner {
   
    height: 30.125rem;
}

.textoSobreposto1 {

    font-size: 44px;
    top: 100px;

}

.textoSobreposto2 {
    font-size: 20px;
    top: 400px;

}


 /* FOOTER */

 .redesSociais {
    margin-top: 20px;
}

footer {
    background-color: #586875;
}

.endereços {
    height: 100px;
    padding-top: 20px;
}

.endereços ul li a {
    font-size: 8px;
    margin: 0 10px 0 10px;
}

.endereços ul li p {
    font-size: 12px;
}

.endereços ul li img {
    width: 10%;
}


.redessociaisFacebookEInstagram {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    margin: 20px 0 50px 0;
    width: 50%;
}



.button {
    margin: 0 10px 15px 10px;
    width: 20%;
    border: 2px solid #FFFFFF;
    border-radius: 50px;
    font-size: 8px;
}

.copyright {
    color: #FFFFFF;
    padding-bottom: 15px;
}


}