header {
    background-color: #3C798C;
    position: fixed;
    z-index: 9999;
}

h1 {
    text-align: center;
}

a {
    color: #83D4EE;
}

hr {
    background-color: #000000;
    margin: 50px 100px 50px 100px;
}


/* LINKS DO HEADER */

nav {
    position: relative;
    top: 0;
    animation: surgirNav;
    animation-duration: 1.5s;
    animation-direction: normal;
}

@keyframes surgirNav {
    from {
        top: -100px
    }

    to {
        top: 0px
    }
}

#Links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1.563rem;
    align-items: center;
}

.underline {
    position: relative;
    display: inline-block;
    text-decoration: none;
}

.underline::before {
    content: "";
    position: absolute;
    top: 18px;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #83D4EE;
    transition: width 0.3s ease-in-out;
}

.underline:hover::before {
    width: 100%;
}



#logo {
    width: 100%;

}

.linklogo {

    width: 5%;


}



#login {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#fraseAcesso {
    display: flex;
    margin-right: 0.313rem;
    color: #FFFFFF;

}

#login a button {
    cursor: pointer;
}

#button {
    padding: 0.625rem 1.563rem 0.625rem 1.563rem;
    background: #739DDC;
    border-radius: 10px;
    border: none;
    color: #FFFFFF;
}




/* sidenav que aparece ao clicar no botão hamburger */
.side {
    display: none;
    color: #ffff;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #3C798C;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 2rem;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: #ffff;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #000000;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}


#cadastro {
    transition: margin-left .5s;
}

#cadastro h1 {
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
}




/* BANNER */


#Banner {
    height: 34.325rem;
    background-color: #3C798C;
}

#fotoTratamentosFaciais {
    position: relative;
    width: 100%;
    height: 100%;

}


.textoSobreposto1 {
    text-align: start;
    font-family: sans-serif;
    font-style: normal;
    font-size: 54px;
    position: absolute;
    top: 300px;
    left: 50px;
    color: #FFFFFF;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s ease, transform 1s ease;

}

.textoSobreposto2 {
    width: 50%;
    text-align: start;
    font-family: Times, serif;
    font-style: normal;
    font-size: 30px;
    position: absolute;
    top: 500px;
    left: 50px;
    color: #FFFFFF;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 2s ease, transform 1s ease;

}


/* Tratamentos Faciais */


/* limpeza De Pele */

.limpezaDePele {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    align-content: center;
    margin: 50px 100px 50px 100px;
}

.textoLimpezaDePele {
    margin-left: 300px;
}

.textoLimpezaDePele a {
    text-decoration: none;
}

/* tratamentos ContaO lheiras */

.tratamentosContaOlheiras {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    align-content: center;
    margin: 50px 100px 50px 100px;
}

.textoTratamentosContaOlheiras {
    margin-right: 300px;
}


/* harmonização Facial */

.harmonizaçãoFacial {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    align-content: center;
    margin: 50px 100px 50px 100px;
}

.textoHarmonizaçãoFacial {
    margin-left: 300px;
}


/* Sculptra */

.sculptra {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    align-content: center;
    margin: 50px 100px 50px 100px;
}

.textoSculptra {
    margin-right: 300px;
}


Microagulhamento .microagulhamento {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    align-content: center;
    margin: 50px 100px 50px 100px;
}

.textoMicroagulhamento {
    margin-left: 300px;
}


/* laser Erbium */

.laserErbium {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    align-content: center;
    margin: 50px 100px 50px 100px;
}

.textoLaserErbium {
    margin-right: 300px;
}



/* FOOTER */


footer {
    background-color: #586875;
}




.endereços {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 200px;
    padding-top: 50px;


}

.endereços ul li a {
    display: flex;
    justify-content: center;
    color: #FFFFFF;
}



.endereços ul li p {
    display: flex;
    justify-content: center;
}

.endereços ul li img {
    width: 3%;
    padding-right: 10px;
}





.redesSociais {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.redesSociais p {
    color: #FFFFFF;
}

.redesSociais img {
    width: 20%;
}

.redessociaisFacebookEInstagram {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    margin: 50px 0 50px 0;
    width: 50%;
}

.button {
    margin: 0 10px 25px 20px;
    position: initial;
    width: 15%;
    border: 2px solid #FFFFFF;
    border-radius: 60px;
}

.copyright {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: #000000;
    padding-bottom: 25px;
}






/* Estilos para dispositivos móveis */
@media only screen and (max-width: 1180px) {
    h1 {
        font-size: 44px;
    }

    hr {
        margin: 50px 50px 50px 50px;
    }

    #Links {
        padding: 0.8rem;

    }

    .underline {
        font-size: 0.5rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }


    #button {
        padding: 0.625rem 1.063rem 0.625rem 1.063rem;
        background: #739DDC;
        border-radius: 10px;
        border: none;
        color: #FFFFFF;
    }


    /* BANNER */


    #Banner {

        height: 30.125rem;
    }


    .textoSobreposto1 {

        font-size: 44px;
        top: 150px;

    }

    .textoSobreposto2 {
        font-size: 20px;
        top: 400px;

    }





    /* Tratamentos Faciais */


    /* limpeza De Pele */

    .limpezaDePele {
        flex-direction: column;
        margin: 50px 100px 50px 100px;

    }

    .imagemLimpezaDePele {
        width: 300px;

    }

    .textoLimpezaDePele {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 50px 0 50px 0;
        width: 100%;
        align-items: center;
    }


    /* tratamentos ContaO lheiras */

    .tratamentosContaOlheiras {
        flex-direction: column;
        margin: 50px 100px 50px 100px;

    }

    .imagemTratamentosContaOlheiras {
        width: 300px;

    }

    .textoTratamentosContaOlheiras {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 50px 0 50px 0;
        width: 100%;
        align-items: center;
    }


    /* harmonização Facial */

    .harmonizaçãoFacial {
        flex-direction: column;
        margin: 50px 100px 50px 100px;

    }

    .imagemHarmonizaçãoFacial {
        width: 300px;

    }

    .textoHarmonizaçãoFacial {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 50px 0 50px 0;
        width: 100%;
        align-items: center;
    }


    /* Sculptra */

    .sculptra {
        flex-direction: column;
        margin: 50px 100px 50px 100px;

    }

    .imagemSculptra {
        width: 300px;

    }

    .textoSculptra {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 50px 0 50px 0;
        width: 100%;
        align-items: center;
    }



    /* Microagulhamento */

    .microagulhamento {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 50px 100px 50px 100px;

    }

    .microagulhamento a{
        display: flex;
        justify-content: center;
    }

    .imagemMicroagulhamento {
        width: 300px;

    }

    .textoMicroagulhamento {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 50px 0 50px 0;
        width: 100%;
        align-items: center;
    }


    /* laser Erbium */

    .laserErbium {
        flex-direction: column;
        margin: 50px 100px 50px 100px;


    }

    .imagemLaserErbium {
        width: 300px;

    }

    .textoLaserErbium {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 50px 0 50px 0;
        width: 100%;
        align-items: center;
    }






    /* FOOTER */

    .redesSociais {
        margin-top: 20px;
    }

    footer {
        background-color: #586875;
    }

    .endereços {
        height: 100px;
        padding-top: 20px;
    }

    .endereços ul li a {
        font-size: 8px;
        margin: 0 10px 0 10px;
    }

    .endereços ul li p {
        font-size: 12px;
    }

    .endereços ul li img {
        width: 10%;
    }


    .redessociaisFacebookEInstagram {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        text-align: center;
        margin: 20px 0 50px 0;
        width: 50%;
    }



    .button {
        margin: 0 10px 15px 10px;
        width: 20%;
        border: 2px solid #FFFFFF;
        border-radius: 50px;
        font-size: 8px;
    }

    .copyright {
        color: #FFFFFF;
        padding-bottom: 15px;
    }

}



/* Estilos para dispositivos móveis */
@media only screen and (max-width: 769px) {
    h1 {
        font-size: 44px;
    }

    hr {
        margin: 50px 50px 50px 50px;
    }

    #Links {
        display: none;
    }

    /* mostra o botão hamburguer e a sidenav */
    .side {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0.8rem;
    }


    .linklogo {
        width: 10%;
    }

    #logo {
        width: 100%;
    }

    .espaco {
        width: 5%;
    }


    #button {
        padding: 0.625rem 1.063rem 0.625rem 1.063rem;
        background: #739DDC;
        border-radius: 10px;
        border: none;
        color: #FFFFFF;
    }
