{% load static %}

<header>
    <!-- LINKS DO HEADER -->
    <nav>
        <div id="Links">
            <img id="logo" src="{% static 'img/DermaSoft.png' %}" alt="Logo da DermaSoft">

            <a class="underline" href="{% url 'home' %}">Home</a>
            <a class="underline" href="{% url 'conheca_a_dermasoft' %}">Conheca a DermaSoft</a>
            <a class="underline" href="{% url 'nossa_equipe' %}">Nossa equipe </a>
            <a class="underline" href="{% url 'tratamentos' %}">Tratamentos</a>

            <div id="login">
                <p id="fraseAcesso">Já possui acesso?</p>
                <a href="{% url 'login' %}">
                    <button id="button">Login</button>
                </a>
            </div>
        </div>
    </nav>

    <nav class="side">
        <!-- sidenav que aparecerá ao clicar no botão hamburger -->
        <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"></a>
            <a href="{% url 'home' %}">Home</a>
            <a href="{% url 'conheca_a_dermasoft' %}">Conheça a DermaSoft</a>
            <a href="{% url 'nossa_equipe' %}">Nossa Equipe</a>
            <a href="{% url 'tratamentos' %}">Tratamentos</a>
            <div id="login">
                <p id="fraseAcesso">Já possui acesso?</p>
                <a href="{% url 'login' %}">
                    <button id="button">Login</button>
                </a>
            </div>
        </div>

        <!-- botão hamburger -->
        <div id="main">
            <span style="font-size:30px;cursor:pointer" onclick="openNav()">☰ </span>
        </div>

        <a class="linklogo" href="{% url 'home' %}"> 
            <img href="{% url 'home' %}" id="logo" src="{% static 'img/DermaSoft.png' %}" alt="Logo da DermaSoft">
        </a>

        <div class="espaco"></div>
    </nav>
</header>

    