{% load static %}

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nossa Equipe</title>
    <link rel="stylesheet" type="text/css" href="{% static 'tratamentos/css/tratamentos.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'geral/css/reset.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap" rel="stylesheet">
</head>

<body>
    <header>

        <!-- LINKS DO HEADER -->
        <nav>
            <div id="Links">
                <a class="linklogo" href="../index.html"> <img id="logo" src="{% static 'geral/img/DermaSoft.png' %}"
                        alt="Logo da DermaSoft"></a>

                <a class="underline" href="{% url "index" %}">Home</a>
                <a class="underline" href="{% url "conheca_a_dermasoft" %}">Conheca a DermaSoft</a>
                <a class="underline" href="{% url "nossa_equipe" %}">Nossa equipe </a>
                <a class="underline" href="{% url "tratamentos" %}">Tratamentos</a>

                <div id="login">
                    <p id="fraseAcesso">Já possui acesso?</p>
                    <a href="{% url "login" %}">
                        <button id="button">Login</button>
                    </a>
                </div>

            </div>
        </nav>


        <nav class="side">
            <!-- sidenav que aparecerá ao clicar no botão hamburger -->
            <div id="mySidenav" class="sidenav">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                <a href="{% url "index" %}">Home</a>
                <a href="{% url "conheca_a_dermasoft" %}">Conheça a DermaSoft</a>
                <a href="{% url "nossa_equipe" %}">Nossa Equipe</a>
                <a href="{% url "tratamentos" %}">Tratamentos</a>
                <div id="login">
                    <p id="fraseAcesso">Já possui acesso?</p>
                    <a href="{% url "login" %}">
                        <button id="button">Login</button>
                    </a>
                </div>
            </div>

            <!-- botão hamburger -->
            <div id="main">
                <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; </span>
            </div>

            <a class="linklogo" href="../index.html"> <img href="../index.html" id="logo" src="{% static 'geral/img/DermaSoft.png' %}"
                    alt="Logo da DermaSoft">
            </a>


            <div class="espaco"></div>

        </nav>
        
    </header>

        <!-- BANNER DA PAGINA -->


        <div id="Banner">

            <img id="fotoTratamentos" src="{% static 'geral/img/BannerTratamentos.png' %}">
            <h1 class="textoSobreposto1"> variedade de tratamentos para atender às suas necessidades individuais</h1>
            <h3 class="textoSobreposto2">Valorizar a si mesmo é o primeiro passo para uma relação duradoura e plena com
                a vida .</h3>

        </div>



    <!-- Botão "Voltar para o topo" -->
    <button id="scrollToTop">Voltar para o topo</button>

    <!-- NOSSOS TRATAMENTOS -->


    <div class="nossosTratamentos">

        <h1>Nossos Tratamentos</h1>

        <div class="tratamentos">


            <!-- ESTETICA CORPORAl -->

            <div class="estéticaCorporal">
                <section class="imgEstéticaCorporal">
                    <a href="{% url 'estetica_corporal' %}">
                        <img src="{% static 'geral/img/imgTratamentoCorporal.png' %}">
                    </a>

                </section>

                <section>
                    <a href="{% url 'estetica_corporal' %}">Estética corporal</a>
                </section>

            </div>

            <!-- TRATAMENTO FACIAL -->

            <div class="tratamentosFaciais">
                <section class="imgTratamentosFaciais">

                    <a href="{% url 'tratamentos_faciais' %}">
                        <img src="{% static 'geral/img/imgTratamentoFacial.png' %}">
                    </a>
                </section>

                <section>
                    <a href="{% url 'tratamentos_faciais' %}">Tratamentos Faciais</a>
                </section>

            </div>


            <!-- TRATAMENTO CAPILAR -->

            <div class="tratamentosCapilar">
                <section class="imgTratamentosCapilar">
                    <a href="{% url 'tratamentos_capilar' %}">
                        <img src="{% static 'geral/img/imgTratamentoCapilar.png' %}">
                    </a>

                </section>

                <section>
                    <a href="{% url 'tratamentos_capilar' %}">Tratamentos Capilar</a>
                </section>

            </div>
        </div>
    </div>

   

<script src="{% static 'tratamentos/js/tratamentos.js' %}"></script>

</body>

</html>