header {
    background-color: #3C798C;
    position: fixed;
    z-index: 9999;
}

h1 {
    text-align: center;
}

a {
    color: #83D4EE;
}

hr {
    background-color: #000000;
    margin: 50px 100px 50px 100px;
}


/* LINKS DO HEADER */

nav {
    position: relative;
    top: 0;
    animation: surgirNav;
    animation-duration: 1.5s;
    animation-direction: normal;
}

@keyframes surgirNav {
    from {
        top: -100px
    }

    to {
        top: 0px
    }
}

#Links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1.563rem;
    align-items: center;
}

.underline {
    position: relative;
    display: inline-block;
    text-decoration: none;
}

.underline::before {
    content: "";
    position: absolute;
    top: 18px;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #83D4EE;
    transition: width 0.3s ease-in-out;
}

.underline:hover::before {
    width: 100%;
}



#logo {
    width: 5%;
    transition: width 0.3s ease;
}



#login {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#fraseAcesso {
    display: flex;
    margin-right: 0.313rem;
    color: #FFFFFF;
    font-size: 18px;

}

#login a button {
    cursor: pointer;
}

#button {
    padding: 0.625rem 1.563rem 0.625rem 1.563rem;
    background: #739DDC;
    border-radius: 10px;
    border: none;
    color: #FFFFFF;
}


/* sidenav que aparece ao clicar no botão hamburger */
.side {
    display: none;
    color: #ffff;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #3C798C;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 2rem;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: #ffff;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #000000;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}


#cadastro {
    transition: margin-left .5s;
}

#cadastro h1 {
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
}


/* BANNER */


#Banner {
    height: 34.325rem;
    background-color: #3C798C;
}

#fotoEscritorio {
    position: relative;
    width: 100%;
    height: 100%;

}

.textoSobreposto1 {
    text-align: start;
    font-family: sans-serif;
    font-style: normal;
    font-size: 54px;
    position: absolute;
    top: 150px;
    left: 50px;
    color: #FFFFFF;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s ease, transform 1s ease;

}

.textoSobreposto2 {
    width: 50%;
    text-align: start;
    font-family: Times, serif;
    font-style: normal;
    font-size: 30px;
    position: absolute;
    top: 400px;
    left: 50px;
    color: #FFFFFF;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 2s ease, transform 1s ease;

}

/* ICONES DE CORAÇÃO, PASTA E CHECK */





/* .animacao {
    position: relative;
    left: -2000px;
}

.animacaoAtiva {
    position: relative;
    left: 0;
    animation: surgirDoutor;
    animation-duration: 2s;
    animation-direction: normal;

}

@keyframes surgirDoutor {
    from {
        left: -2000px
    }

    to {
        left: 0px
    }
} */

.icones {

    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 150px 0 150px 0;
}

.iconeEFrase {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.coracao {
    fill: transparent;
}


.coracao1 {
    width: 40%;
    height: 40%;
    stroke: black;
    stroke-width: 1px;
    stroke-dasharray: var(--tamanhoTotalDoPath);
    stroke-dashoffset: 0;
    animation: 2s desenha;
}

@keyframes desenha {
    from {
        /* Inicio: Ponto inicial */
        stroke-dashoffset: var(--tamanhoTotalDoPath);
    }

    to {
        /* Fim: Altera o início para 0 */
        stroke-dashoffset: 0;
    }
}


.pasta {
    fill: transparent;
}

.pasta1 {
    width: 40%;
    height: 40%;
    stroke: black;
    stroke-width: 3px;
    stroke-dasharray: var(--tamanhoTotalDoPath2);
    stroke-dashoffset: 0;
    animation: 6s desenha2;
}

@keyframes desenha2 {
    from {
        /* Inicio: Ponto inicial */
        stroke-dashoffset: var(--tamanhoTotalDoPath2);
    }

    to {
        /* Fim: Altera o início para 0 */
        stroke-dashoffset: 0;
    }
}


.check {
    fill: transparent;
}

.check1 {
    width: 40%;
    height: 40%;
    stroke: black;
    stroke-width: 0.3px;
    stroke-dasharray: var(--tamanhoTotalDoPath3);
    stroke-dashoffset: 0;
    animation: 2s desenha3;
}

@keyframes desenha3 {
    from {
        /* Inicio: Ponto inicial */
        stroke-dashoffset: var(--tamanhoTotalDoPath3);
    }

    to {
        /* Fim: Altera o início para 0 */
        stroke-dashoffset: 0;
    }
}


.fraseicone {
    text-align: center;
    margin: 50px 0 70px 0;
    font-size: 25px;
    width: 300px;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 2s ease, transform 1s ease;
}

.fraseicone2 {
    text-align: center;
    margin: 50px 0 70px 0;
    font-size: 25px;
    width: 300px;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 2s ease, transform 1s ease;
}

.fraseicone3 {
    text-align: center;
    margin: 50px 0 70px 0;
    font-size: 25px;
    width: 300px;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 2s ease, transform 1s ease;
}

/* CONEÇA A DERMASOFT */

.tituloConheçaADermaSoft {
    font-family: 'Source Sans Pro';
    font-style: normal;
    text-align: center;
    font-size: 96px;
}

.ConhecaADermaSOft {
    height: 1198px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.imagensDaClinica {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 25%;

}

.textoDermasoft {
    font-size: 32px;
    display: flex;
    align-items: center;
    width: 49%;
}


/* NOSSA EQUIPE */


.NossaEquipe {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.doutores {
    margin-left: 200px;
}

.NossaEquipe h1 {
    font-family: 'Source Sans Pro';
    font-size: 96px;
}

.NossaEquipe img {
    width: 296px;
    height: 335px;
    margin: 100px 0 100px 0;


}

.drFrancisco {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.drFranciscoDados {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-content: center;
    padding: 150px;
    font-size: 25px;
}



.drFranciscoDados h3 {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 15px;
    font-size: 45px;

}

.draGabrielly {
    display: flex;
    flex-direction: row;
    align-items: center;

}

.draGabriellyDados {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-content: center;
    padding: 150px;
    font-size: 25px;

}

.draGabriellyDados h3 {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 15px;
    font-size: 45px;


}

.draLucema {
    display: flex;
    flex-direction: row;
    align-items: center;

}

.draLucemaDados {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-content: center;
    padding: 150px;
    font-size: 25px;

}

.draLucemaDados h3 {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 15px;
    font-size: 45px;


}

.drLuis {
    display: flex;
    flex-direction: row;
    align-items: center;

}

.drLuisDados {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-content: center;
    padding: 150px;
    font-size: 25px;

}

.drLuisDados h3 {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 15px;
    font-size: 45px;


}



/* NOSSOS TRATAMENTOS */



.nossosTratamentos {
    display: flex;
    flex-direction: column;
}

.nossosTratamentos h1 {
    text-align: center;
    font-family: 'Source Sans Pro';
    font-size: 96px;
}

.nossosTratamentos img {
    width: 396px;
    height: 335px;

}

.nossosTratamentos a {
    color: #000000;
}

.tratamentos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 20px 0 80px 0;
    font-size: 25px;
}

.tratamentos section {
    margin-top: 100px;
}

.estéticaCorporal {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imgEstéticaCorporal:hover {
    transform: scale(1.07);
    transition: transform 0.7s ease;
}

.tratamentosFaciais {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.imgTratamentosFaciais:hover {
    transform: scale(1.07);
    transition: transform 0.7s ease;
}

.tratamentosCapilar {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.imgTratamentosCapilar:hover {
    transform: scale(1.07);
    transition: transform 0.7s ease;
}



/* FOOTER */


footer {
    background-color: #586875;
}




.endereços {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 200px;
    padding-top: 50px;


}

.endereços ul li a {
    display: flex;
    justify-content: center;
    color: #FFFFFF;
}



.endereços ul li p {
    display: flex;
    justify-content: center;
}

.endereços ul li img {
    width: 3%;
    padding-right: 10px;
}





.redesSociais {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.redesSociais p {
    color: #FFFFFF;
}

.redesSociais img {
    width: 20%;
}

.redessociaisFacebookEInstagram {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    margin: 50px 0 50px 0;
    width: 50%;
}

.button {
    margin: 0 10px 25px 20px;
    position: initial;
    width: 15%;
    border: 2px solid #FFFFFF;
    border-radius: 60px;
}

.copyright {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: #FFFFFF;
    padding-bottom: 25px;
}

/* Estilos para dispositivos móveis */
@media only screen and (max-width: 1250px) {
    /* NOSSOS TRATAMENTOS */


    .nossosTratamentos h1 {
        font-size: 96px;
    }

    .nossosTratamentos img {
        width: 240px;
        height: 240px;
    }

    .tratamentos {
        margin: 20px 10px 80px 10px;
        font-size: 12px;
    }

    .tratamentos section {
        margin-top: 50px;
    }
}



/* Estilos para dispositivos móveis */
@media only screen and (max-width: 1150px) {


    /* ICONES DE CORAÇÃO E PASTA */

    .icones {
        flex-direction: column;
    }



    /* CONEÇA A DERMASOFT */



    .tituloConheçaADermaSoft {
        font-size: 96px;
    }


    .ConhecaADermaSOft {
        height: 1100px;
        align-items: center;
        flex-direction: column;
        justify-content: center;


    }

    .imagensDaClinica {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .imagensDaClinica img {
        margin: 0 20px 20px 20px;
    }



    .textoDermasoft {
        text-align: center;
        width: 80%;
    }







    /* Estilos para dispositivos móveis  */
    @media only screen and (max-width: 820px) {


        /* NOSSA EQUIPE */


        .doutores {
            margin-left: 0;
        }

        .NossaEquipe h1 {
            font-size: 96px;
        }

        .NossaEquipe img {
            width: 200px;
            height: 250px;
            margin: 50px 0 50px 0;
        }


        .drFrancisco {
            flex-direction: column;
        }

        .drFranciscoDados {
            padding: 40px;
            font-size: 30px;
        }


        .draGabrielly {
            flex-direction: column;
        }

        .draGabriellyDados {
            padding: 40px;
            font-size: 30px;
        }


        .draLucema {
            flex-direction: column;
        }

        .draLucemaDados {
            padding: 40px;
            font-size: 30px;
        }



        .drLuis {
            flex-direction: column;
        }


        .drLuisDados {
            padding: 40px;
            font-size: 30px;
        }
    }


    /* Estilos para dispositivos móveis */
    @media only screen and (max-width: 769px) {


        h1 {
            font-size: 44px;
        }

        hr {
            margin: 50px 50px 50px 50px;
        }


        /* oculta os links para aparecer a sidenav */
        #Links {
            display: none;

        }


        /* mostra o botão hamburguer e a sidenav */
        .side {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 0.8rem;
        }


        .linklogo {
            width: 10%;
        }

        #logo {
            width: 100%;
        }

        .espaco {
            width: 5%;
        }



        #button {
            padding: 0.625rem 1.063rem 0.625rem 1.063rem;
            background: #739DDC;
            border-radius: 10px;
            border: none;
            color: #FFFFFF;
        }


        /* BANNER */


        #Banner {

            height: 30.125rem;
        }


        .textoSobreposto1 {

            font-size: 34px;
            top: 100px;
    
        }
    
        .textoSobreposto2 {
            font-size: 20px;
            top: 350px;
    
        }

        /* ICONES DE CORAÇÃO E PASTA */




        /* CONEÇA A DERMASOFT */



        .tituloConheçaADermaSoft {
            font-size: 44px;
        }


        .ConhecaADermaSOft {
            height: 800px;
            align-items: center;
            flex-direction: column;
            justify-content: center;


        }

        .imagensDaClinica {
            display: flex;
            flex-direction: row;
            justify-content: center;
            width: 1px;
        }

        .imagensDaClinica img {
            margin: 0 20px 20px 20px;
            width: 150px;
            height: 150px;
        }



        .textoDermasoft {
            text-align: center;
            font-size: 18px;
            width: 80%;
        }



        /* NOSSA EQUIPE */




        .NossaEquipe h1 {
            font-size: 44px;
        }

        .drFranciscoDados {
            padding: 40px;
            font-size: 20px;
        }

        .draGabriellyDados {
            padding: 40px;
            font-size: 20px;
        }

        .draLucemaDados {
            padding: 40px;
            font-size: 20px;
        }


        .drLuisDados {
            padding: 40px;
            font-size: 20px;
        }



        /* NOSSOS TRATAMENTOS */


        .nossosTratamentos h1 {
            font-size: 44px;
        }

        .nossosTratamentos img {
            width: 250px;
            height: 300px;
        }

        .tratamentos {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            margin: 20px 0 80px 0;
            font-size: 25px;
        }

        .tratamentos section {
            margin-top: 50px;
        }



        /* FOOTER */

        .redesSociais {
            margin-top: 20px;
        }

        footer {
            background-color: #586875;
        }

        .endereços {
            height: 100px;
            padding-top: 20px;
        }

        .endereços ul li a {
            font-size: 8px;
            margin: 0 10px 0 10px;
        }

        .endereços ul li p {
            font-size: 12px;
        }

        .endereços ul li img {
            width: 10%;
        }


        .redessociaisFacebookEInstagram {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            text-align: center;
            margin: 20px 0 50px 0;
            width: 50%;
        }



        .button {
            margin: 0 10px 15px 10px;
            width: 20%;
            border: 2px solid #FFFFFF;
            border-radius: 50px;
            font-size: 8px;
        }

        .copyright {
            color: #FFFFFF;
            padding-bottom: 15px;
        }

    }
}


/* Estilos para dispositivos móveis */
@media only screen and (max-width: 500px) {
    .coracao1 {
        width: 20%;
        height: 20%;
    }

    .pasta1 {
        width: 20%;
        height: 20%;
    }

    .check1 {
        width: 20%;
        height: 20%;
    }

    .fraseicone {
        font-size: 15px;
    }

    .fraseicone2 {
        font-size: 15px;
    }

    .fraseicone3 {
        font-size: 15px;
    }
}