{% extends "base.html" %}
{% load static %}

{% block 'head' %}
    <link rel="stylesheet" href="{% static 'usuarios/css/usuarios.css' %}">
{% endblock 'head' %}

{% block 'body' %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-md d-flex justify-content-center">
                <div class="cont-cadastro">
                    <br>
                    <br>
                    <section class="cont-logo">
                        <a href="{% url "index" %}" title="Clique aqui para voltar a tela inicial">
                            <div class="img-logo">
                                <img class="logo" src="{% static 'geral/img/logoDerma.png' %}">
                            </div>
                        </a>
                        <label class="text-logo fonte-destaque1">DERMASOFT</label>
                    </section>
                    <hr>
                    <br><br>
                    <p>Mandamos um e-mail com instruções de como resetar sua senha, se sua conta existe com o e-mail inserido. Você deve receber o e-mail em breve.</p>
                    <p>Se você não receber um e-mail, por favor tenha certeza de ter inserido o e-mail corretamente, e também verifique sua pasta de spam.</p>
                </div>

            </div>
            <div class="col-md bg-main d-flex justify-content-center align-items-center">
                <img src="{% static 'usuarios/img/ilustracao.png' %}" alt="">


            </div>
        </div>
    </div>


{% endblock 'body' %}

