{% extends "base.html" %}
{% load static %}

{% block 'head' %}
    <link rel="stylesheet" href="{% static 'usuarios/css/usuarios.css' %}">
{% endblock 'head' %}

{% block 'body' %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-md d-flex justify-content-center">
                <div class="cont-cadastro">
                    <br>
                    <br>
                    <section class="cont-logo">
                        <a href="{% url "index" %}" title="Clique aqui para voltar a tela inicial">
                            <div class="img-logo">
                                <img class="logo" src="{% static 'geral/img/logoDerma.png' %}">
                            </div>
                        </a>
                        <label class="text-logo fonte-destaque1">DERMASOFT</label>
                    </section>
                    <hr>
                    
                    <form method="POST" action="{% url 'password_reset'%}">{% csrf_token %}
                        <h2 class="fonte-destaque1">Esqueci a senha</h2>
                       
                        <label for="">E-mail:</label>
                        <input type="text" name="email" class="form-control" autocomplete="off" placeholder="Digite seu E-mail...">
                        <br>

                        <input type="submit" value="Recuperar a senha" class="btn btn-success btn-dark-color">
                        <a href="{% url 'login' %}" class="btn btn-dark-color-outline">Login</a>
                    </form>
                </div>

            </div>
            <div class="col-md bg-main d-flex justify-content-center align-items-center">
                <img src="{% static 'usuarios/img/ilustracao.png' %}" alt="">


            </div>
        </div>
    </div>


{% endblock 'body' %}

