{% extends "base.html" %}
{% load static %}

{% block 'head' %}
    <link rel="stylesheet" href="{% static 'usuarios/css/usuarios.css' %}">
{% endblock 'head' %}

{% block 'body' %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-md d-flex justify-content-center">
                <div class="cont-cadastro">
                    <br>
                    <br>
                    <section class="cont-logo">
                        <a href="{% url "index" %}" title="Clique aqui para voltar a tela inicial">
                            <div class="img-logo">
                                <img class="logo" src="{% static 'geral/img/logoDerma.png' %}">
                            </div>
                        </a>
                        <label class="text-logo fonte-destaque1">DERMASOFT</label>
                    </section>
                    <hr>
                    
                    <form method="POST" action="{% url 'password_reset_complete' %}">{% csrf_token %}
                        <h2 class="fonte-destaque1">Esqueci a senha</h2>
                        {% if messages %}
                            <br>
                            {% for message in messages %}
                                <section class="alert {{message.tags}}">
                                    {{message}}
                                </section>
                            {% endfor %}
                        {% endif %}
                        <br>
                       
                        <div class="row">
                            <div class="col-md">
                                <label for="">Senha</label>
                                <input type="password" name="senha" class="form-control" placeholder="Digite sua senha ...">
                            </div>
                            <div class="col-md">
                                <label for="">Confirmar senha</label>
                                <input type="password" name="confirmar_senha" class="form-control" placeholder="Digite sua senha novamente ..." id="">
                            </div>
                        </div>
                        <br>

                        <input type="submit" value="Mudar minha senha" class="btn btn-success btn-dark-color">
                    </form>
                </div>

            </div>
            <div class="col-md bg-main d-flex justify-content-center align-items-center">
                <img src="{% static 'usuarios/img/ilustracao.png' %}" alt="">


            </div>
        </div>
    </div>


{% endblock 'body' %}

