{% load static %}

<!-- botão hamburger -->
<div id="main">
  <span style="font-size:30px;cursor:pointer" onclick="openNav()">☰</span>
</div>
<img class="logo" src="{% static 'img/DermaSoft.png' %}">

<div class="dropdown">
  <button class="dropbtn"><img src="{% static 'img/iconAvatar.png' %}" alt=""></button>
  <div class="dropdown-content">
    <a href="#">




        {% load static %}

<!-- formulario de cadastro -->
<div id="cadastro">

  <h1>Registro de Pacientes</h1>
  <div class="form-container">
    <h2>DADOS PESSOAIS</h2>
    <br>
    <form id="meuFormulario" method="POST">
      {% csrf_token %}

      <label for="nome">Nome:</label>
      <input type="text" id="nome" name="nome" value="{{ form.nome.value }}">

      <label for="email">Email:</label>
      <input type="email" id="email" name="email" value="{{ form.email.value }}">

      <label for="telefone">Telefone:</label>
      <input type="text" id="telefone" name="telefone" value="{{ form.telefone.value }}">

      <label for="Idade">Data de Nascimento:</label>
      <input type="date" id="Idade" name="Idade" value="{{ form.Idade.value }}">

      <label for="endereco">Endereço:</label>
      <input id="endereco" name="endereco" value="{{ form.endereco.value }}">

      <label for="sexo">Selecione o Sexo:</label>
      <select id="sexo" name="sexo">
        <option value="masculino" {% if form.sexo.value == "masculino" %}selected{% endif %}>Masculino</option>
        <option value="feminino" {% if form.sexo.value == "feminino" %}selected{% endif %}>Feminino</option>
        <option value="outro" {% if form.sexo.value == "outro" %}selected{% endif %}>Outro</option>
      </select>

      

</div>
